In [9]:
import pandas as pd

# Load the dataset
df = pd.read_csv("new.csv")

# Merge the 'Crop' and 'Fertilizer' columns into a new column 'Crop_Fertilizer'
df['Crop_Fertilizer'] = df['Crop'] + ', ' + df['Fertilizer']

# Display the first few rows of the updated dataframe
df.head()

,Unnamed: 0,District_Name,Soil_color,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature,Crop,Fertilizer,Crop_Fertilizer
0,0,Kolhapur,Black,75,50,100,6.5,1000,20,Sugarcane,Urea,"Sugarcane, Urea"
1,1,Kolhapur,Black,80,50,100,6.5,1000,20,Sugarcane,Urea,"Sugarcane, Urea"
2,2,Kolhapur,Black,85,50,100,6.5,1000,20,Sugarcane,Urea,"Sugarcane, Urea"
3,4,Kolhapur,Black,95,50,100,6.5,1000,20,Sugarcane,Urea,"Sugarcane, Urea"
4,7,Kolhapur,Black,80,55,105,7.0,1100,25,Sugarcane,Urea,"Sugarcane, Urea"

In [10]:
columns_to_drop = ['Crop', 'Fertilizer']  # replace with the actual column names you want to drop

# Drop the columns
df = df.drop(columns=columns_to_drop)

In [11]:
df

,Unnamed: 0,District_Name,Soil_color,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature,Crop_Fertilizer
0,0,Kolhapur,Black,75,50,100,6.5,1000,20,"Sugarcane, Urea"
1,1,Kolhapur,Black,80,50,100,6.5,1000,20,"Sugarcane, Urea"
2,2,Kolhapur,Black,85,50,100,6.5,1000,20,"Sugarcane, Urea"
3,4,Kolhapur,Black,95,50,100,6.5,1000,20,"Sugarcane, Urea"
4,7,Kolhapur,Black,80,55,105,7.0,1100,25,"Sugarcane, Urea"
...,...,...,...,...,...,...,...,...,...,...
2194,4504,Pune,Black,145,75,145,6.5,1300,25,"Sugarcane, MOP"
2195,4506,Pune,Black,120,80,150,7.0,1400,30,"Sugarcane, MOP"
2196,4507,Pune,Black,125,80,150,7.0,1400,30,"Sugarcane, MOP"
2197,4508,Pune,Black,130,80,150,7.0,1400,30,"Sugarcane, MOP"
2198,4511,Pune,Black,145,80,150,7.0,1400,30,"Sugarcane, MOP"

In [13]:
df.to_csv("new1.csv")